html {

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

header {

    height: 100vh;
}

.background {

    background-image: url("../imgs/header.jpg");
    background-position: center center;
    background-size: cover;
    filter: blur(15px) brightness(25%)
}